body 
    {    
    background-color:black;
    font-style:italic;
    }
h1
    {
    background-color:white;
    
    color: #003300;
    font-size: xx-large;
    font-weight:bolder;
    text-decoration: underline;
    font-style: none;
    }
h2
    {
    color:white;
    font-size: large;
    font-weight: bold;
    }
h3
    {    
    color:white;
    font-weight:bold;
    }
h4
    { 
    color:white; 
    font-weight:bold;
    }
h5
    {
    color:white;
    font-weight:bolder;
    }
p
    { 
    background-color:white;
    color:black;
    font-weight:bold;
    font-size:medium;
    text-align: center;
    }
ul
    {
     color:#d9f2e6;
    }
li
     {
     color:#d9f2e6;
     font-size: small
     }
 .contents2
     {color:#d9f2e6;
     }
 .contents3
     {color: #d9f2e6;
 }